:root {
  --white: #ffffff;

  --gray-100: #f5f5f5;
  --gray-200: #e8e8e8;
  --gray-300: #d8d8d8;
  --gray-400: #b1b1b1;
  --gray-500: #a1a1a1;

  --black-100: #666666;
  --black-200: #555555;
  --black-300: #444444;
  --black-400: #333333;
  --black-500: #222222;

  --red-100: #fca9b6;
  --red-200: #f9536d;
  --red-300: #f72848;
  --red-400: #c6203a;
  --red-500: #94182b;

  --green-100: #a0eec3;
  --green-200: #41dd87;
  --green-300: #12d469;
  --green-400: #0eaa54;
  --green-500: #0b7f3f;

  --blue-100: #9fd4fb;
  --blue-200: #40a9f8;
  --blue-300: #1094f6;
  --blue-400: #0d76c5;
  --blue-500: #0a5994;

  --purple-100: #d5b1e5;
  --purple-200: #ac63ca;
  --purple-300: #973cbd;
  --purple-400: #793097;
  --purple-500: #5b2471;

  --yellow-100: #ffeb99;
  --yellow-200: #ffd633;
  --yellow-300: #ffcc00;
  --yellow-400: #cca300;
  --yellow-500: #997a00;

  --open-sans: 'Open Sans', sans-serif;
  --source-code-pro: 'Source Code Pro', monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: inherit;
}

html {
  font-size: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--gray-100);
}

body {
  position: relative;
  min-height: 100vh;
}

h1 {
  margin: 0;
}
