@font-face {
  font-family: 'Open Sans';
  src: url('/assets/open-sans-light.woff2') format('woff2'),
    url('/assets/open-sans-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/assets/open-sans-regular.woff2') format('woff2'),
    url('/assets/open-sans-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/assets/open-sans-medium.woff2') format('woff2'),
    url('/assets/open-sans-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/assets/open-sans-semi-bold.woff2') format('woff2'),
    url('/assets/open-sans-semi-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/assets/open-sans-bold.woff2') format('woff2'),
    url('/assets/open-sans-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/assets/open-sans-extra-bold.woff2') format('woff2'),
    url('/assets/open-sans-extra-bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Source Code Pro';
  src: url('/assets/source-code-pro-light.woff2') format('woff2'),
    url('/assets/source-code-pro-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Source Code Pro';
  src: url('/assets/source-code-pro-regular.woff2') format('woff2'),
    url('/assets/source-code-pro-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Source Code Pro';
  src: url('/assets/source-code-pro-medium.woff2') format('woff2'),
    url('/assets/source-code-pro-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Source Code Pro';
  src: url('/assets/source-code-pro-semi-bold.woff2') format('woff2'),
    url('/assets/source-code-pro-semi-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Source Code Pro';
  src: url('/assets/source-code-pro-bold.woff2') format('woff2'),
    url('/assets/source-code-pro-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Source Code Pro';
  src: url('/assets/source-code-pro-extra-bold.woff2') format('woff2'),
    url('/assets/source-code-pro-extra-bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: block;
}
