body {
  font-size: 16rem;
  line-height: 24rem;
  color: var(--black-500);
  font-family: var(--open-sans);
  font-weight: 400;
}

a {
  cursor: pointer;
  color: var(--black-500);
  text-decoration: none;
}
